<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/navbar %>

  <div class="container">

    <h3>Team Apps:</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-sm table-striped" id="team">
        <thead>
          <tr>
            <%
            const keys = Object.keys(team[0]);
            for(var i = 1; i < keys.length; i++) {
            %>
            <th scope="col">
              <%=keys[i]%>
            </th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <%
          for (var u = 0; u < team.length; u++) {
            var values = Object.values(team[u]);
            for (var i = 1; i < values.length; i++) {
            %>
            <tr>
              <% for (var i = 1; i < keys.length; i++) { %>
              <td>
                <%= values[i] %>
              </td>
              <% } %>
            </tr>
            <% }
          } %>
        </tbody>
      </table>
    </div>

    <hr>

    <h3>Officer Apps:</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-sm" id="officers">
        <thead>
          <tr>
            <%
            const keys2 = Object.keys(officers[0]);
            for(var i = 1; i < keys2.length; i++) {
            %>
            <th scope="col">
              <%=keys2[i]%>
            </th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <%
          for (var u = 0; u < officers.length; u++) {
            var values2 = Object.values(officers[u]);
            for (var i = 1; i < values2.length; i++) {
            %>
            <tr>
              <% for (var i = 1; i < keys2.length; i++) { %>
              <td>
                <%= values2[i] %>
              </td>
              <% } %>
            </tr>
            <% }
          }%>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</body>
</html>
