<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <% include ../partials/head %>
  <style>
  .cell {
    max-width: 300px; /* tweak me please */
    white-space : nowrap;
    overflow : hidden;
  }
  </style>
  <link href="/css/tabulator.min.css" rel="stylesheet">
  <script type="text/javascript" src="/js/tabulator.min.js"></script>
  <script type="text/javascript" src="http://oss.sheetjs.com/js-xlsx/xlsx.full.min.js"></script>


</head>

<body>
  <% include ../partials/navbar %>

  <div class="container">

    <h3>Team Apps:</h3>
    <hr>

    <form class="form-inline mb-4">
      <div class="form-group">
        <label for="filter-field">Column: </label>
        <select type="dropdown" name="field" id="filter-field" class="form-control ml-2" placeholder=""></select>
      </div>
      <div class="form-group ml-3">
        <label for="filter-type">Filter:</label>
        <select type="dropdown" name="filter-type" id="filter-type" class="form-control ml-2" placeholder="">
          <option value="=">=</option>
          <option value="<"><</option>
          <option value="<="><=</option>
          <option value=">">></option>
          <option value=">=">>=</option>
          <option value="!=">!=</option>
          <option value="like">like</option>
        </select>
      </div>
      <div class="form-group ml-3">
        <label for="filter-value">Filter Value:</label>
        <input type="text" name="filter-value" id="filter-value" class="form-control ml-2" placeholder="">
      </div>
      <button class="btn btn-primary" id="filter-clear">Clear</button>
    </form>

    <div id="team-table"></div>
    <div id="team-table-textarea"></div>

    <button id="download-csv" class="btn btn-primary mt-4">Download CSV</button>
    <button id="download-xlsx" class="btn btn-primary mt-4">Download XSLX</button>
    <button id="show-text" class="btn btn-danger mt-4">Show text</button>

    <footer class="container">
    <hr>
    <p>&copy; Robinson Science Olympiad 2019-2020</p>
  </footer>
</body>
</html>

<script>
  let textareas = ["textarea","textarea1","textarea2","textarea3","textarea4","textarea5","textarea6","textarea7","textarea_rec"];
 
  $.ajax({
  url: "/admin/api/getcolumns",
  cache: false,
  success: function(result) {
    let rawColumns = [];
    let columns = [];
    for (let i = 0; i < result.length; i++) {
      const element = result[i];
      rawColumns.push(element.column_name);
    }
    for (let i = 0; i < rawColumns.length; i++) {
      const element = rawColumns[i];
      if (element.includes("textarea")) {
        columns.push({
          title: element,
          field: element,
          width: 200
        });
      } else {
        columns.push({
          title: element,
          field: element
        }); 
      }
    }
    buildTable(columns, rawColumns);
  }
});
  
  window.onload = function() {

  }

  function buildTable(columns, rawColumns) {
    let dropdown = $('#filter-field');
    for (let i = 0; i < rawColumns.length; i++) {
      const element = rawColumns[i];
      dropdown.append($('<option></option>').val(element).html(element));
    }
    
    var table = new Tabulator("#team-table", {
        ajaxURL:"/admin/api/alldata", 
        height:"800px",
        pagination:"local",
        layout:"fitDataFill",
        paginationSize:20,
        paginationSizeSelector:[20, 30, 40, 50],
        tooltips:true,
        columns: columns
    });
  }

  $("#show-text").click(function(){
    let columns = [];
    let textareas = ["textarea","textarea1","textarea2","textarea3","textarea4","textarea5","textarea6","textarea7","textarea_rec"];
    for (let i = 0; i < rawColumns.length; i++) {
      const element = rawColumns[i];
      if (element.includes("textarea")) {
        columns.push({
          title: element,
          field: element,
          width: 500,
          formatter: "textarea"
        });
      } else {
        columns.push({
          title: element,
          field: element
        }); 
      }
    }
    $("#team-table").remove();
    var newTable = new Tabulator("#team-table-textarea", {
      ajaxURL:"/admin/api/alldata", 
      height:"1200px",
      pagination:"local",
      layout:"fitDataFill",
      paginationSize:20,
      paginationSizeSelector:[20, 30, 40, 50],
      columns: columns
    });
    $("#show-text").remove();
  });

  $("#download-csv").click(function(){
    table.download("csv", "data.csv");
  });

  $("#download-xlsx").click(function(){
      table.download("xlsx", "data.xlsx", {sheetName:"My Data"});
  });

//Trigger setFilter function with correct parameters
function updateFilter() {

    var filter = $("#filter-field").val() == "function" ? customFilter : $("#filter-field").val();

    if($("#filter-field").val() == "function" ){
        $("#filter-type").prop("disabled", true);
        $("#filter-value").prop("disabled", true);
    }else{
        $("#filter-type").prop("disabled", false);
        $("#filter-value").prop("disabled", false);
    }

    table.setFilter(filter, $("#filter-type").val(), $("#filter-value").val());
}

//Update filters on value change
$("#filter-field, #filter-type").change(updateFilter);
$("#filter-value").keyup(updateFilter);

//Clear filters on "Clear Filters" button click
$("#filter-clear").click(function(){
    $("#filter-field").val("");
    $("#filter-type").val("=");
    $("#filter-value").val("");

    table.clearFilter();
});

</script>
