<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Homepage</title>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/navbar %>

  <div class="container">
    <div class="table-responsive">
      <table class="table table-striped table-dark" id="table">
        <thead>
          <tr>
            <%
            const keys = Object.keys(data);
            for(var i = 0; i < keys.length; i++) {
          %>
            <th scope="col">
              <%=keys[i]%>
            </th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <%
          const values = Object.values(data);
          for (var i = 0; i < values.length; i++) {
        %>
          <tr>
            <% for (var i = 0; i < keys.length; i++) { %>
            <td>
              <%= values[i] %>
            </td>
            <% } %>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <button onclick="exportTableToCSV('data.csv')" type="button" class="btn btn-primary">Export Table To CSV File</button>
  </div>
</body>

</html>

<script type="text/javascript">
  function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {
      type: "text/csv"
    });

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
  }

  function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");

    for (var i = 0; i < rows.length; i++) {
      var row = [],
        cols = rows[i].querySelectorAll("td, th");

      for (var j = 0; j < cols.length; j++)
        row.push(cols[j].innerText);

      csv.push(row.join(","));
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
  }
</script>
