<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    <%= typeof user!='undefined' ? 'Instructions' : 'Apply to SciOly' %>
  </title>
  <link rel="stylesheet" href="/css/home.css">
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/navbar %>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Please login...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>We use Google's OAUTH2.0 to authenticate users</p>
          <a href="/auth/google"><img src="/img/btn_google_signin_dark_normal_web@2x.png" width="200"></a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <% if (!user) { %>
        <h1 class="display-3">Welcome Science Olympians!</h1>
        <p>This is the Robinson Science Olympiad 2019-2020 Spring Application Portal. Apply to become a Science Olympiad team member or officer.</p>
        <p><a class="btn btn-primary btn-lg" href="/profile/apply" role="button">Login &raquo;</a></p>
        <% } else if(user.role == 'teacher') { %>
          <h1 class="display-3">Welcome,
            <%= user.name%>!</h1>
          <p>Complete your student recommendations now!</p>
          <p><a class="btn btn-primary btn-lg" href="/profile/recommendations" role="button">Lets start! &raquo;</a></p>
        <% } else { %>
          <h1 class="display-3">Welcome,
            <%= user.name%>!</h1>
          <p>Start your applcation now!</p>
          <p><a class="btn btn-primary btn-lg" href="/profile/apply" role="button">Lets start! &raquo;</a></p>
        <% } %>
      </div>
    </div>

    <% if(typeof user != 'undefined' && user.role == 'teacher') {} else {%>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col">
          <h2>Step 1</h2>
          <h5 class="text-muted">Research Science Olympiad</h5>
          <p>Use the following websites to find more information about Science Olympiad. Read a bit about the program or join us at our interest meeting.<ul>
              <li>Come to our Spring interest meeting on May 1st during RAISE!</li>
              <li><a href="https://www.soinc.org/about/background">Background</a></li>
              <li><a href="https://www.soinc.org/events/2019-event-table">Last year's events</a></li>
              <li><a href="https://virginiaso.org/what-is-so.php">VASO Site</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Science_Olympiad">Wiki</a></li>
              <li><a href="http://www.roboscienceolympiad.org">Our Website</a></li>
              <li>Feel free to email us with any questions and we will get back to you ASAP: leadership@roboscienceolympiad.org</li>
            </ul>
          </p>
        </div>
        <div class="col">
          <h2>Step 2</h2>
          <h5 class="text-muted">Complete your application</h5>
          <div class="lead" id="clock"></div>
          <p>Login with a Google account to begin completing your application for the team. Luckily this year the application saves your progress (so take as much time as you need), but heed the <strong>due date: May 10th!</strong> You will be contacted via your student email upon the end of the spring application process. By
            applying in the spring you communicate to us that you are serious about joining Science Olympiad. To ensure we are considering you as a candidate holistically, we request a teacher recommendation. Make sure to mark at least one math OR science teacher on your application. Let your teacher know you have asked for a recommendation. They will complete this online here.</p>
        </div>
        <div class="col">
          <h2>Step 4</h2>
          <h5 class="text-muted">Take the test</h5>
          <p>All applicants must take the entrance exam. This will be administered during RAISE and after school in the fall. The You will receive more information through your email address next year, so stay alert! The test consists of a Math, Chemistry, Biology, Physics, and SciOly section. The exam is used to evaluate your scientific knowledge, but it is not the only factor in the acceptance process. Scores will be compared between grades, so freshman will not be hurt for not having taken Physics.</p>
        </div>
      </div>

      <div class="jumbotron">
        <div class="justify-content-center form-inline">
          <h3 class="mr-5">Sign up to get email updates!</h1>
          <form class="form-inline" id="emailSubmit">
            <input type="hidden" name="table" value="emails">
            <label class="sr-only" for="inlineFormInputName2">Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe" required name="name">

            <label class="sr-only" for="inlineFormInputGroupUsername2">Email</label>
            <div class="input-group mb-2 mr-sm-2">
              <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Email" required name="email">
            </div>

            <button type="submit" class="btn btn-primary mb-2">Submit</button>
          </form>
        </div>
      </div>

      <div class="alert alert-success collapse" role="alert" id="sucsess">
        Thank you for your interest!
      </div>

      <hr>

    </div> <!-- /container -->
    <% } %>

  </main>

  <footer class="container">
    <p>&copy; Robinson Science Olympiad 2019-2020</p>
  </footer>

</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript">
<% if(modal) { %>
  $(window).on('load', function() {
    $('#exampleModal').modal('show');
  });
  <% } %>

$('#emailSubmit').submit(function(e) {
    e.preventDefault();
    $.ajax({
        url:'/emails',
        type:'post',
        data:$('#emailSubmit').serialize(),
        success:function(){
           $('#sucsess').show();
           $('#inlineFormInputName2').val('');
           $('#inlineFormInputGroupUsername2').val('');
           $(".alert").delay(4000).slideUp(200, function() {
              $(this).hide();
          });
        }
    });
});

</script>

