<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    <%= typeof user!='undefined' ? 'Instructions' : 'Apply to SciOly' %>
  </title>
  <style>

  </style>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/navbar %>

  <div class="container">  
    <div class="jumbotron">
      <h1 class="display-3">You have completed your application!</h1>
      <p class="lead">Thank you for your interest in Science Olympiad!</p>
    </div>
  </div>
  
</body>
</html>

